@using Microsoft.AspNet.Identity
@using datezite.Models
@model datezite.Models.SearchResultsViewModel


@{
    /**/

    ViewBag.Title = "SearchView";
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}

<h2>Resultat</h2>
<table class="table table-hover">
    <thead>
        @foreach (var userHit in Model.Results)
        {
            var getYourProfile = new GetApplicationUser();
            var you = getYourProfile.GetUserById(userHit.Id);
            var hitId = userHit.Id;
            if (HttpContext.Current.User.Identity.GetUserId() == you.Id)
            {

                <tr>
                    <th scope="col"><a href="/Profiles/YourProfile">@userHit.Förnamn</a>  </th>
                    <th scope="col"><a href="/Profiles/YourProfile">@userHit.Efternamn</a></th>
                    <th scope="col"><a href="/Profiles/YourProfile">@userHit.UserName</a></th>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="col"><a href="/Profiles/OtherProfile/@hitId">@userHit.Förnamn</a>  </th>
                    <th scope="col"><a href="/Profiles/OtherProfile/@hitId">@userHit.Efternamn</a></th>
                    <th scope="col"><a href="/Profiles/OtherProfile/@hitId">@userHit.UserName</a></th>
                </tr>
            }
        }
    </thead>
</table>
